* {
    margin: 0;
    padding: 0;
}
body {
	    background: #ddd;
}
header h3 {
    text-align: center;
    margin: 10px;
    font-family: fantasy;
}

.img img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.thongtin {
    display: block;
    width: 400px;
    margin: 0 auto;
    float: right;
    margin-top: 50px;
}

.thongtin div span {
    font-weight: bold;
}

article {
    width: 700px;
    display: block;
    margin: 0 auto;
}

.img {
    width: 300px;
    float: left;
}

.thongtin {
    margin-top: 65px;
    float: right;
}